<!DOCTYPE html>
<html>
<head>
    <title>Flask App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Hello!!! App is Running 🚀</h1>

        <div class="buttons">
            <button onclick="addData()">Insert Data</button>
            <button onclick="loadData()">Load Data</button>
        </div>

        <ul id="data-list"></ul>
    </div>

<script>
async function addData() {
    await fetch("/add");
    loadData();
}

async function loadData() {
    const response = await fetch("/data");
    const data = await response.json();

    const list = document.getElementById("data-list");
    list.innerHTML = "";

    data.forEach(item => {
        const li = document.createElement("li");
        li.textContent = item[0];
        list.appendChild(li);
    });
}
</script>

</body>
</html>